body{
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#user{
    color: white;
    position:absolute;
    top:3%;
    left:1%;
}

.logout{
    position:absolute;
    top:3%;
    right:1%;
}

.layout{
    padding-right: 29%;
    padding-left: 29%;
    text-align: center;
}

.chat-box{
    
    position:absolute;
    top:20%;
    right:30%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    color: green;
    text-shadow: 2px 2px 4px green;
    height: 300px;
    width: 550px;
    overflow: auto;
    padding: 15px;
}

.message_box{
    position:absolute;
    top:70%;
    right:37%;
    
}











/*
.chat-box{
    
    text-align: center;
    opacity: 0.5;
    color: red;
    box-shadow: 0px 1px 1px #000;
    height: 250px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 53%;
}*/